img {
  float: right;
  border-style: double;
  border-width: 10px;
  margin-left: 10px;

}

body {
  background-color: rgb(74, 150, 138);
  padding: 10px;
}

h1 {
  font-size: 60px;
  margin-left: 10px;
  margin-right: 10px;
}

.card-container {
  margin-bottom: 15px;
  padding-right: 10px;
}

img {
  float: right;
  margin-right: 20px;
}
