img {
  float: right;
}

body {
  background-color: rgb(124, 155, 150);
  padding: 10px;

}

h1 {
  font-size: 50px;

}

.card-container {
  margin-bottom: 15px;
  padding-right: 10px;
  
}





img {
  float:right;
  padding-right: 10px;
  }




